In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [36]:
df = pd.read_csv(r'D:\Other\1-IBM Data Analysis\(10) Data Analyst Portfolio Projects\4- Data Analysis Projects\Python Projects - Data Analytics\Project - 3\file.csv')
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# Data Cleaning

In [37]:
df.describe(include = 'all')
df.shape
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [38]:
df.drop('country_name', axis = 1, inplace = True)

In [39]:
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   driver_gender       61474 non-null  object
 3   driver_age_raw      61481 non-null  float64
 4   driver_age          61228 non-null  float64
 5   driver_race         61475 non-null  object
 6   violation_raw       61475 non-null  object
 7   violation           61475 non-null  object
 8   search_conducted    65535 non-null  bool
 9   search_type         2479 non-null   object
 10  stop_outcome        61475 non-null  object
 11  is_arrested         61475 non-null  object
 12  stop_duration       61475 non-null  object
 13  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(2), object(10)
memory usage: 6.1+ MB

In [40]:
for col in df.columns:
    if df[col].dtypes == "float" or df[col].dtypes == "int" :
        df[col].replace(np.nan, df[col].mean(), inplace = True)
    elif df[col].dtypes == "object":
        df[col].replace(np.nan, df[col].value_counts().idxmax(), inplace = True)
    elif df[col].dtypes == "bool":
        df[col].replace(np.nan, df[col].value_counts().idxmax(), inplace = True)
    else:
        df[col] = df[col]

In [ ]:
## another sol to fill nulls using fillna

for col in df.columns:
    if df[col].dtypes == "float" or df[col].dtypes == "int" :
        df[col].fillna(df[col].mean(), inplace = True)
    elif df[col].dtypes == "object":
        df[col].fillna(df[col].value_counts().idxmax(), inplace = True)
    elif df[col].dtypes == "bool":
        df[col].fillna(df[col].value_counts().idxmax(), inplace = True)
    else:
        df[col] = df[col]

In [41]:
df.isnull().sum()

stop_date             0
stop_time             0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
dtype: int64

In [42]:
df['stop_date_corrected'] = pd.to_datetime(df['stop_date'])

In [43]:
df.dtypes

stop_date                      object
stop_time                      object
driver_gender                  object
driver_age_raw                float64
driver_age                    float64
driver_race                    object
violation_raw                  object
violation                      object
search_conducted                 bool
search_type                    object
stop_outcome                   object
is_arrested                      bool
stop_duration                  object
drugs_related_stop               bool
stop_date_corrected    datetime64[ns]
dtype: object

In [32]:
# Convert 'stop_time' column to datetime type with specified format
#df['stop_time'] = pd.to_datetime(df['stop_time'], format='%H:%M:%S')

# Extract the time component and assign it to a new column
#df['stop_time_corrected'] = df['stop_time'].dt.time

In [33]:
df.dtypes

stop_date                      object
stop_time              datetime64[ns]
driver_gender                  object
driver_age_raw                float64
driver_age                    float64
driver_race                    object
violation_raw                  object
violation                      object
search_conducted                 bool
search_type                    object
stop_outcome                   object
is_arrested                      bool
stop_duration                  object
drugs_related_stop               bool
stop_date_corrected    datetime64[ns]
stop_time_corrected            object
dtype: object

In [44]:
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,stop_date_corrected
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False,2005-01-02
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False,2005-01-18
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False,2005-01-23
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Incident to Arrest,Arrest Driver,True,16-30 Min,False,2005-02-20
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False,2005-03-14

In [45]:
df[df['violation'] == 'Speeding'].driver_gender.value_counts()

driver_gender
M    29578
F    11686
Name: count, dtype: int64

In [54]:
df.groupby('driver_gender')['search_conducted'].agg(['sum', 'count', 'unique'],apply(lambda x: x.value_counts()))

NameError: name 'apply' is not defined

In [53]:
df.groupby('driver_gender')['search_conducted'].apply(lambda x: x.value_counts())

driver_gender  F
F              False    15944
               True       366
M              False    47112
               True      2113
Name: search_conducted, dtype: int64

In [58]:
df.stop_duration.value_counts()

stop_duration
0-15 Min     51439
16-30 Min    11448
30+ Min       2647
2                1
Name: count, dtype: int64

In [61]:
df['stop_duration']= df['stop_duration'].map({'0-15 Min':7.5, '16-30 Min':24,'30+ Min':45})

In [62]:
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,stop_date_corrected
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,7.5,False,2005-01-02
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,7.5,False,2005-01-18
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,7.5,False,2005-01-23
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Incident to Arrest,Arrest Driver,True,24.0,False,2005-02-20
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,7.5,False,2005-03-14

In [63]:
df['stop_duration'].mean()

11.897022919400616